body {
	background-color:#EDEDED;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color:#333;
	font-family:verdana, arial, helvetica;
	font-size:10px;
	line-height:16px;
}

a { 
	font-family:verdana, arial, helvetica; 
	font-size:11px; 
	color: #666; 
	text-decoration: underline; 
	line-height:19px; 
	background-color:#FFF;
} 
a:link { 
	color: #666; 
	text-decoration: underline; 
	background-color:#FFF;
} 
a:visited { 
	color: #666; 
	text-decoration: underline; 
	background-color:#FFF;
} 
a:active { 
	color: #99CC66; 
	background-color:#FFF;
} 
a:hover { 
	color: #6699CC; 
	background-color:#FFF;
} 

a.blue { 
	color: #FFF; 
	font-family:verdana, arial, helvetica; 
	font-weight:normal; 
	font-size:11px; 
	text-decoration: underline; 
	padding-left:15px; 
	padding-right:15px; 
	background-color:#6699CC;
} 
a.blue:visited { 
	color: #FFF; 
	text-decoration: underline; 
	background-color:#6699CC;
} 
a.blue:active { 
	color: #DDDDDD; 
	text-decoration: underline; 
	background-color:#6699CC;
} 
a.blue:hover { 
	color: #FFF; 
	text-decoration:none; 
	background-color:#4578AB;
} 

a.graph { 
	text-decoration: none; 
	padding-left:0px; 
	padding-right:0px; 
	font-size:11px; 
	color: #FFFFFF; 
	line-height:0px; 
	background-color:#FFFFF;
} 

a.source { 
	font-family:Courier, MS Courier New, Prestige, Everson Mono; 
	font-size:12px; 
	color: #000; 
	text-decoration: underline; 
	background-color:#EEEEEE; 
	padding:1px;
} 
a.source:link { 
	color: #000; 
	text-decoration: underline; 
	background-color:#EEEEEE;
} 
a.source:visited { 
	color: #000; 
	text-decoration: underline; 
	background-color:#EEEEEE;
} 
a.source:active	{ 
	color: #FFFFFF; 
	background-color:#888888;
} 
a.source:hover { 
	color: #FFF; text-decoration:none; 
	background-color:#AAAAAA;
} 

a.header { 
	font-family:verdana, arial, helvetica; font-size:11px; 
	color: #666; 
	text-decoration: none; 
	line-height:19px; 
	background-color:#FFF;
} 
a.header:link { 
	color: #666; 
	text-decoration: none; 
	background-color:#FFF;
} 
a.header:visited { 
	color: #666; 
	text-decoration: none; 
	background-color:#FFF;
} 
a.header:active { 
	color: #99CC66; 
	background-color:#FFF;
} 
a.header:hover { 
	color: #6699CC; 
	background-color:#FFF;
} 

.links {
	background-color:#FFF;
	width:200px;
	font-family:geneva, verdana, trebuchet MS, trebuchet, verdana, arial, sans-serif;
	font-size:9px;
	line-height:17px;
	color:#000;
	padding-bottom:15px;
	border-bottom:1px solid #ccc;
	margin-bottom:15px;	
}
	
	
.left {
	background-color:#FFF;
	font-family:geneva, verdana, trebuchet MS, trebuchet, verdana, arial, sans-serif;
	font-size:9px;
	line-height:17px;
	color:#000;
	margin-bottom:15px;
	padding-left:7px;
}	
	
.blue {
	background-color:#6699CC;
	font-family:verdana, trebuchet MS, trebuchet, verdana, arial, sans-serif;
	font-size:9px;
	line-height:17px;
	color:#000;
	padding-top:3px;	
	padding-bottom:3px;	
	height:20px
	text-align:center;
}	
	
.source {
	background-color:#EEEEEE;
	font-family:Courier, MS Courier New, Prestige, Everson Mono;
	font-size:12px;
	line-height:13px;
	color:#000;
	padding-left:10px;
	padding-top:5px;
	border-bottom:1px solid #999;
	padding-bottom:15px;	
}
	
.page-title {
	background-color:#CCCC66;
	padding-left:10px;
	padding-top:5px;
	border-bottom:1px solid #999;
	padding-right:10px;	
	text-align:right;
	font-family:verdana, arial, helvetica;
	font-size:18px;
	color:#FFF;
	font-weight:bold;
	padding-bottom:5px;	
}


.items {
	background-color:#FFF;
	font-family:verdana, trebuchet MS, trebuchet, verdana, arial, sans-serif;
	font-size:11px;
	line-height:17px;
	color:#333;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
}


.header {
	background-color:#FFF;
	font-family:verdana, trebuchet MS, trebuchet, verdana, arial, sans-serif;
	font-size:10px;
	text-transform:uppercase;
	font-weight:bold;
	line-height:12px;
	color:#666;
	padding-left:2px;
	margin-top:10px;		
}		
	
p {
	color:#333;
	font-family: verdana, arial, helvetica;
	font-size:11px;
	line-height:17px;
}

.item-footer {
	background-color:#FFF;
	font-family:geneva, verdana, arial, sans-serif;
	font-size:9px;
	line-height:12px;
	color:#666;
	margin-top:10px;
	text-align:right;
	margin-bottom:20px;
	padding-bottom:10px;
	border-bottom:1px solid #999;		
}
	
.section-head {
	background-color:#FFF;
	font-family:verdana, trebuchet MS, trebuchet, verdana, arial, sans-serif;
	font-size:11px;
	line-height:17px;
	font-weight:bold;
	color:#333;
	padding-top:15px;
	margin-bottom:0px;		
}	
		
.left-links {
	padding-left:20px;		
}	

.copyright {
	font-family: geneva, arial, verdana, helvetica, sans-serif;
	font-size: 9px;
	margin-top:5px;
	text-align:center;
	color:#999;
}		
	
