<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <appSettings>
		<add key="ContestEndDate" value="11/08/2002 11:59:59 PM" />
		<add key="EmailServer" value="209.20.153.102" />
		<add key="EmailFrom" value="do-not-reply@openhack.com" />
		<add key="DbType" value="Sql" />
		<add key="EmailEnabled" value="true"/>
		<add key="LoggingEnabled" value="true"/>
		<add key="ManagementEvents" value="false"/>
		<add key="SqlImpersonate" value="true"/>
		<add key="RequireSSL" value="true"/>		
    </appSettings>
    
  <system.web>
   <!-- 1/2 MB Max POST length -->
   <httpRuntime maxRequestLength="512"/>

	<!-- TODO: debug must be false when deploying -->
    <compilation defaultLanguage="c#" debug="false"/>

    <!-- TODO: change RemoteOnly to On when deploying -->
    <customErrors defaultRedirect="Error.aspx" mode="On" />
    
    <authentication mode="Forms">
		<forms loginUrl="Login.aspx" name="OPSAMPLEAPP"/>
	</authentication>
   
    <sessionState 
            mode="InProc"
            cookieless="false" 
            timeout="20" 
    />
   
 </system.web>

</configuration>
